# =========================
# Backend
# =========================
backend/.gradle/
backend/build/
backend/*.log

# backend env
backend/.env
backend/.env.local
backend/.env.production
backend/.env.docker

# backend upload files
backend/upload/
backend/uploads/


# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/

# frontend env
frontend/.env
frontend/.env.local
frontend/.env.production
frontend/.env.docker


# =========================
# Root / Common env
# =========================
.env
.env.local
.env.production
.env.docker
*.env

# keep env examples
!.env.example
!backend/.env.example
!frontend/.env.example


# =========================
# OS / IDE
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db